
html,body{
    margin:0
}
header{
    background-color:#f55a5a;
    display:flex;
    justify-content: center;
    color:white;
    height:55px;
    align-items:center
}
header > img{
    width:24px;
    margin-right: 7px;
}
hedaer >h1{
    font: 0.9rem;
    font-weight: 500;
    font-family: Inter;
}
